.header {
    display: flex;
    justify-content: space-between;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.right-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
}

.top-background {
    background-color: #1F2937;
    font-family: 'Roboto';
    color: #F9FAF8;
    padding: 16px;
    height: 400px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.top-content {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.first-content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.first-sign-up {
    width: 400px;
   
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    padding: 0px;
}

.first-sign-up .secondary {
    font-size: 18px;
}

.grey-image {
    width: 380px;
    height: 190px;
    background-color: rgb(128, 128, 140);
    display: flex;
}

.grey-image .text{
    margin: auto;
}

button {
    box-sizing: border-box;
    padding: 0px;
    background-color: #3882F6;
    border: 0px;
    font-size: 16px;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
    color: #F9FAF8;
    
}

.second-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    height: 300px;
    justify-content: center;
    padding: 20px;
}

h2 {
    margin: 0px;
}

.second-content h2 {
    font-size: 36px;
    font-weight: 900;
}

.image-set {
    display: flex;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.box {
    height: 110px;
    width: 110px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.item p {
    text-align: center;
    width: 150px;
}

.third-content {
    background-color: #E5E7EB;
    height: 300px;
    padding: 30px
}

.third-content .boundary {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
    gap: 16px;
}

.third-content .boundary .quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    margin: 0;
}

.third-content .boundary .author {
    font-size: 20px;
    font-weight: 800;
    align-self: flex-end;
    margin: 0;
}

.fourth-content {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.fourth-content .boundary {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 100px;
    width: 800px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    border-radius: 12px;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.fourth-content .boundary button.fourth{
    border: 1.5px solid #F9FAF8;
    padding: 5px 20px;
    border-radius: 5px;
    width: 140px;
    height: 35px;
}

.fourth-content .boundary .fourth-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.fourth-item h4 {
    margin: 0px;
    width: 500px;
}

.fourth-content .boundary .fourth-item p {
    width: 500px;
    margin: 0px;
}

.footer {
    background-color: #1F2937;
    height: 80px;
    color: #F9FAF8;
    display: flex;
}

.footer .boundary {
    margin: auto
}
